.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

path.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

text {
  font-family: arial;
  font-size: 12px;
}